.AboutUsTop2 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
}

.WhatWeServe {
  flex: 1;
  margin: 65px 30px 150px 25px;
}

.WhatWeServe h3 {
  font-size: 1.5em;
  color: #5896f1;
  font-weight: 600;
}

.WhatWeServe h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #2b2929;
  margin-bottom: 10px;
}

.WhatWeServe p {
  font-size: 1em;
  color: #666;
}

.AboutUsTop2CardsContainer {
  flex: 1;
}

.AboutUsTop2Cards {
  /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 50px;
    flex: 1; */
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 30px;
}

.AboutUsTop2Card {
  padding: 15px;
  padding-top: 35px;
  height: 180px;
  width: 240px;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.AboutUsTop2Card:nth-child(1) {
  background-color: #2c74eb;
  border-radius: 0 30px 0 30px;
  color: #fff;
}

.AboutUsTop2Card:hover {
  background-color: #2c74eb;
  color: #fff;
  border-radius: 30px;
  border-radius: 0 30px 0 30px;
}

.AboutUsTop2Card:nth-child(1) p {
  color: #fff;
}

.AboutUsTop2Card:nth-child(1) h3 {
  color: #fff;
}

.AboutUsTop2Card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
  color: #434343;
  transition: color 0.3s ease-in-out;
}

.AboutUsTop2Card p {
  font-size: 0.8em;
  color: #666;
  font-weight: 550;
  transition: color 0.3s ease-in-out;
  text-align: center;
}

.AboutUsTop2Card:hover p {
  color: #fff;
}

.AboutUsTop2Card:hover h3 {
  color: #fff;
}
