.AboutUsTop3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-color: #f8fbff;
  /* margin-left: 100px; */
  padding: 30px;
}

.peoples {
  text-align: center;
  color: #fff;
  background-color: #2b6ee3;
  border-radius: 0 30px 0 30px;
  padding: 20px;
  width: 450px;
  align-items: center;
}

.Globe2 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-bottom: 10px;

  justify-items: center;
  margin-left: 38%;
}

.peoples h6 {
  font-size: 2.2em;

  font-weight: 700;
}

.peoples p {
  font-size: 1.2em;
  margin: 5px 0;
  font-weight: 900;
}

.provides {
  margin-top: 20px;
  text-align: left;
  background-color: #2b6ee3;
  width: 100%;
  height: 200px;
  margin-left: 50px;
  padding: 25px;
  margin-right: -300px;
}

.provides h3 {
  margin-left: 20px;
  font-size: 2em;
  font-weight: 700px;
  color: #ffffff;
  font-weight: 800;
  margin-top: 48px;
}
