.card {
  padding: 44px 26px;
  border-radius: 4px;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.card .logo {
  padding: 1rem;
  width: fit-content;
  background-color: aliceblue;
  border-radius: 50%;
  color: #25cc8b;
}

.card:hover {
  box-shadow: -10px 10px 76px rgba(54, 127, 255, 0.12);
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  height: 100%;
  padding-bottom: 1rem;
}

.serviceInfo h1 {
  font-size: x-large;
  font-weight: 600;
  color: #00044a;
}

.serviceInfo p {
  color: #6d6e8d;
}

.serviceInfo a {
  cursor: pointer;
  color: #000dff;
  width: fit-content;
  font-size: 16px;
  display: inline-block;
  padding: 14px 37px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  transform: translateX(-38px);
}

.card:hover .serviceInfo a {
  background-color: rgba(0, 13, 255, 0.06);
  transform: translateX(0);
}

.sticker {
  position: absolute;
  right: 46px;
  top: 30px;

  padding: 7px 18px;
  background: rgba(18, 217, 223, 0.09);
  color: #12d9df;
  border-radius: 30px;
  font-size: 14px;
}
