.card_container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 50vh;
  background-color: aliceblue;
  border-radius: 10px;
  background: linear-gradient(180deg, #4cb4e8 40%, #f0efef 0%);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 2px -1px rgba(0,0,0,0.2);
}
