.modal_multi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal_content_multi {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
}

.modal_footer {
  padding: 10px;
  text-align: right;
}

.close {
  color: #aaa;
  float: right;
  margin-right: 10px;
  font-size: 48px;
  font-weight: 200;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submit_multi-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  margin: 10px 310px 10px 0px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s ease-in-out;
}

.submit_multi_btn:hover {
  transform: translateY(-2px);
}

.heading {
  font-size: 1.9em;
  color: #007bff;
  font-weight: 700;
  justify-content: center;
  margin: 30px 0 10px 45px;
}

.sub_heading {
  font-size: 1em;
  color: #555;
  font-weight: bold;
  margin-bottom: 5px;
  /* margin-left: -600px; */
}

.selected_skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  width: 100%;
}

.user_pill {
  display: inline-flex;
  align-items: center;
  background-color: #d0fffd;
  color: #272727;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.user_pill:hover {
  background-color: #a8e0e0;
}

.skill_search_container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 100px 0 100px 400px;
  width: 50%;
  flex-direction: column;
  border: 1px solid #887d7d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  padding: 40px;
  background-color: #ffffff;
  max-height: 300px;
}

.skill_search_input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline-color: #007bff;
  position: relative;
}

.skill_search_input input {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 16px;
}

.skill_search_input input:focus {
  outline: none;
}

.skill_search_input .suggestions_list {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 90%;
  max-height: 300px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin-left: 0;

  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #ede7e7;
  z-index: 1;
}

.skill_search_input .suggestions_list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions_list {
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  border: 1px solid #ccc;

  border-radius: 5px;
}

.suggestions_list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestions_list li:hover {
  background-color: #d0fffd;
}

.suggestions_list li.active {
  background-color: #e0e0e0;
}
