.skill-search-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 100px 0 100px 400px;
  width: 50%;
  flex-direction: column;
  border: 1px solid #887d7d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  padding: 40px;
  background-color: #ffffff;
  max-height: 300px;
}

.heading {
  font-size: 1.9em;
  color: rgb(63, 63, 64);
  font-weight: 500;
  justify-content: center;
  margin-bottom: 9px;
}

.sub-heading {
  margin: 0 0 5px 15px;
  font-size: 1em;
  font-weight: 700;
  color: #2d2c2c;
}

.multi-submit-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s ease-in-out;
  height: 40px;
  margin: 0 0 50px 300px;
}

.multi-submit-btn:hover {
  transform: translateY(-2px);
}

.skill-search-input {
  width: 100%;
  display: flex;
  margin: 0 15px 20px 15px;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: #007bff;
}

.skill-search-input input {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 16px;
}

.skill-search-input input:focus {
  outline: none;
}

.suggestions-list {
  max-height: 400px;
  overflow-y: scroll;
  width: 350px;
  list-style: none;
  padding: 10px;
  margin: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
}

.suggestions-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: #d0fffd;
}

.user-pill {
  height: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #d0fffd;
  color: #272727;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
}

.skill-search-input .suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  max-height: 300px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin-left: 45px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  z-index: 1;
}

.skill-search-input .suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.skill-search-input .suggestions-list li.active {
  background-color: #f0f0f0;
}
