.modal-skill {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content-skill {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  width: 100%;
}

.modal-content-skill h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.modal-content-skill ul {
  list-style-type: none;
  padding: 0;
}

.modal-content-skill li {
  margin-bottom: 10px;
}

.modal-content-skill label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal-content-skill input[type="radio"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal-content-skill input[type="radio"]:hover {
  transform: scale(1.1);
}

.modal-content-skill button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content-skill button:hover {
  background-color: #0056b3;
}
