@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700;800&family=Open+Sans:wght@300&family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kanit&display=swap');


body {
  margin: 0;
}

.one {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-70deg, #4cb4e8 55%,#fff 45%);
}

.left_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 50%;
  text-align: center;
  align-items: center;
}

.right_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 50%;
}

.heading {
  font-size: 50px;
  font-family: 'Kanit', sans-serif;
  color: #fff;
}

.input_field,
.form_submit {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Poppins", sans-serif;
  padding-left: 0.3rem;
  font-size: 0.8rem;
  font-weight: bolder;
  color: rgb(160, 160, 160);
}

::placeholder {
  color: #b6b5b5;
  font-family: system-ui, Ubuntu,'Open Sans', 'Helvetica Neue', sans-serif;
}

.input_field input {
  padding: 0.5rem;
  padding-left: 0.8rem;
  border-radius: 15px;
  outline: none;
  border: 2px solid rgb(164, 162, 162);
}


.input_field input:focus {
  border: 2px solid black;
  outline: none;
  border: 2px solid rgb(122, 121, 121);
  background-color: rgb(228, 227, 227);
}

.form_submit button {
  padding: 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  background-color: #0194ff;
  color: white;
  font-weight: normal;
  font-size: 1rem;
}

.form_submit button:hover {
  background-color: #0583c3;
}

.admin_login_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 400px;
}

.login_card {
  background-color: white;
  border-radius: 13px;
  box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;  flex-direction: column;
  padding-top: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
  width: 35rem;
}

.logo_title {
  display: flex;
  align-items: center;
}

.logo_title .title {
  font-family: "Mukta", sans-serif;
  font-size: 1.7rem;
  font-weight: bolder;
  color: black;
}

.login_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.login_info_title {
  font-family: "Mukta", sans-serif;
  margin: 0px;
  font-size: 20px;
}

.company_title {
  text-transform: uppercase;
  color: #2286eb;
}

.login_info_subtitle {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bolder;
  margin-top: 3px;
}

.logo_title_image {
  padding: 0;
  margin: 0;
  width: 3.5rem;
}


.admin_quote {
  margin-top: 15px;
  font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 1200px) {
  .left_container {
  display: none;
  }
  }