@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700;800&family=Open+Sans:wght@300&family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kanit&display=swap');


body {
  margin: 0;
}

#one {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-70deg, #4cb4e8 55%,#fff 45%);
}

.left-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 50%;
  text-align: center;
  align-items: center;
}

.right-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 50%;
}

.heading {
  font-size: 50px;
  font-family: 'Kanit', sans-serif;
  color: #fff;
}

.input-field,
.form-submit {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Poppins", sans-serif;
  padding-left: 0.2rem;
  font-size: 0.8rem;
  font-weight: bolder;
  color: rgb(160, 160, 160);
}

::placeholder {
  color: #b6b5b5;
  font-family: system-ui, Ubuntu,'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-field input {
  padding: 0.5rem;
  border-radius: 7px;
  outline: none;
  border: 2px solid lightgray;
}

.input-field input:hover {
  background-color: rgb(242, 241, 241);
}

.input-field input:focus {
  border: 2px solid black;
}

.form-submit button {
  padding: 0.6rem;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  background-color: #0194ff;
  color: white;
  font-weight: lighter;
  font-size: 0.9rem;
}

.form-submit button:hover {
  background-color: #00A9FF;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 400px;
}

.login-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title .title {
  font-family: "Mukta", sans-serif;
  font-size: 1.7rem;
  font-weight: bolder;
  color: black;
}

.login-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.login-info-title {
  font-family: "Mukta", sans-serif;
  margin: 0px;
  font-size: 20px;
}

.company-title {
  text-transform: uppercase;
  color: #2286eb;
}

.login-info-subtitle {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bolder;
  margin-top: 3px;
}

.logo-title-image {
  padding: 0;
  margin: 0;
  width: 3.5rem;
}


.admin-quote {
  margin-top: 15px;
  font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 1200px) {
  .left-container {
  display: none;
  }
  }