.faq_page {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .faq_top {
    /* background: linear-gradient(271.72deg, #ECF4F6 7.09%,#FBFCFD 96.61%); */
    background: linear-gradient(to bottom, #ecf4f6 9.09%, #fbfcfd 96.61%);
  
    width: 100%;
    height: 520px;
    align-items: center;
    justify-content: center;
  }
  
  .faq_top h1 {
    font-size: 5em;
    line-height: 68px;
    font-weight: 700;
    /* color: #696ae9; */
    color: #007bff;
    padding-bottom: 4px;
    margin: 120px 320px 50px 370px;
    text-align-last: center;
    line-height: 1.2em;
  }
  
  .faq_top p {
    font-size: 15px;
    font-weight: 600;
    color: #2a2a2f;
    padding-bottom: 4px;
    margin: 50px 360px 50px 350px;
    text-align-last: center;
  }
  
  .faq_top hr {
    height: 5px;
    width: 80%;
    border: none;
    border-top: 0.5px solid rgb(87, 94, 97);
    margin: 120px 150px 50px 150px;
  }
  
  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 70px;
  }
  
  .color_heading {
    height: 6px;
    width: 48px;
    margin-left: -20px;
    background-color: #007bff;
  }
  
  .heading h1 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #5a5a7e;
  }
  
  .faqs_container {
    background-color: #fefeff;
  
    padding: 15px;
  
    width: 60%;
  }
  
  .faq_item {
    margin-bottom: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #323131;
  }
  
  .accordion_button {
    color: #231459;
  
    padding: 10px;
    border: none;
    border-radius: 4px;
  
    transition: background-color 0.3s ease;
  }
  
  .faq_question {
    color: #231459;
    font-size: 1.2em;
    font-weight: 900;
  }
  
  .faq_answer {
    padding: 15px;
    color: #71718b;
    font-size: 1em;
    font-weight: 600;
  }
  .speak_container {
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 3px 5px #535a61;
  }
  .speak_container h1 {
    color: #007bff;
    font-size: 1.5em;
    font-weight: 700;
    white-space: pre-line;
    max-width: 300px;
    margin-right: 30px;
  }
  