body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vh;
  min-height: 92vh;
}

.signUpForm {
  max-width: 500px;
  height: 70vh;
}

.signUpForm .form_header .stepIndicator.active {
  font-weight: bold;
}

.signUpForm .form_header .stepIndicator.finish {
  font-weight: bold;
  color: rgb(59,130,246);
}

.signUpForm .form_header .stepIndicator::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: rgb(147,197,252);
  border-radius: 50%;
  border: 3px solid rgb(191,219,254);
  transition: all 0.3s;
}

.signUpForm .form_header .stepIndicator.active::before {
  background-color: rgb(96,165,240);
  border: 3px solid rgb(59,130,246);
}

.signUpForm .form_header .stepIndicator.finish::before {
  background-color: rgb(59,130,246);
  border: 3px solid rgb(147,197,252);
}

.signUpForm .form_header .stepIndicator::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
  transition: all 0.3s;
}

.signUpForm .form_header .stepIndicator.active::after {
  background-color: #a3bffa;
}

.signUpForm .form_header .stepIndicator.finish::after {
  background-color: rgb(59,130,246);
}

.signUpForm .form_header .stepIndicator:last-child:after {
  display: none;
}

.signUpForm input.invalid {
  border: 2px solid #ffaba5;
  outline: none;
}

.invalid, select.invalid {
  border: 2px solid #ffaba5;
  outline: none;
}

.signUpForm .step {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
