.container {
    width: 100;
    min-height: 91vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .container h2 {
    font-size: xx-large;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;

  }
  thead td{
    font-size: 1.1rem;
  }
  tr td{
    font-size: 1rem;
  }
  
  .table tbody {
    color: rgb(79, 79, 79);
    font-size: 20px;
  }
  
  .table tbody tr:last-child {
    border: none;
  }
  
  .table td {
    padding: 0.8rem 1.6rem;
  }
  