.testimonial_container {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 550px;
  background-position: fixed;
  background-color: #f8fbff;
}

.testimonial_top {
  justify-content: center;
  margin-top: 10%;
  text-align: left;
  margin-left: 90px;
}

.testimonial_top h1 {
  color: #2b72ee;
  font-size: 2.4rem;
  font-weight: 800;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  margin-bottom: 20px;
  margin-left: 40px;
}

.testimonial_top p {
  margin-left: 50px;
  font-size: 1rem;
  font-weight: 400;
  color: #717070;
}

.testimonial_slider {
  display: flex;
  flex-direction: column;

  transition: transform 4s ease;
  height: 250px;
  margin-top: 140px;
  margin-left: 80px;
  margin-right: 70px;
}

.testimonial_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 220px;
  width: 650px;
  border-radius: 0 30px 0 30px;
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.visible {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
  opacity: 0;
  transform: translateX(-100%);
}

.testimonial_card_heading_img {
  border-radius: 50%;
  max-width: 100%;
  margin-bottom: 30px;
  margin-top: 130px;
  height: 45px;
  transition: transform 0.8s ease;
}

.testimonial_card_quote {
  font-size: 1.1em;
  color: #717070;
  margin: 0 50px 10px 50px;
}

.testimonial_card_image {
  max-width: 100%;
  height: 65px;
  border-radius: 50%;
  margin-top: 7px;
  margin-bottom: 20px;
  transition: transform 0.8s ease-in-out;
}

.testimonial_card_name {
  font-weight: 800;
  color: #2b72ee;
  font-size: larger;
}
